body {
    background-image: url(https://resources.platform.bcci.tv/bcci/photo/2020/08/16/125c3846-eb19-41f2-8200-9c5b43d8cfbd/thankyou-msdhoni-thumbnail.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}